@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Coding Hub</h1>
<p>
    <a asp-action="Login" class="text-decoration-none  btn btn-success ">Login</a></br></br>
    <a asp-action="Register" class="text-decoration-none">Not regestered yet? Create account !</a>
</p>
</div>
